---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/food-database/v2/parser?app_id=19297129&app_key=39891f8d61df2d5168fc473d049f28d3&ingr=(7%20inch)%20flour%20tortillas&nutrition-type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"text":"(7 inch) flour tortillas","parsed":[{"food":{"foodId":"food_a9ql6pdb639bs5b2nlvbob3w0mlj","label":"Flour
        Tortilla","knownAs":"flour tortilla","nutrients":{"ENERC_KCAL":297.0,"PROCNT":8.01,"FAT":7.58,"CHOCDF":49.3,"FIBTG":2.4},"category":"Generic
        foods","categoryLabel":"food","image":"https://www.edamam.com/food-img/357/357e415685787e6d6844e8d08c1b1586.jpg"},"quantity":7.0,"measure":{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_unit","label":"Whole","weight":49.0}}],"hints":[{"food":{"foodId":"food_a9ql6pdb639bs5b2nlvbob3w0mlj","label":"Flour
        Tortilla","knownAs":"flour tortilla","nutrients":{"ENERC_KCAL":297.0,"PROCNT":8.01,"FAT":7.58,"CHOCDF":49.3,"FIBTG":2.4},"category":"Generic
        foods","categoryLabel":"food","image":"https://www.edamam.com/food-img/357/357e415685787e6d6844e8d08c1b1586.jpg"},"measures":[{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_unit","label":"Whole","weight":49.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_serving","label":"Serving","weight":49.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_tortilla","label":"Tortilla","weight":49.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_wrap","label":"Wrap","weight":49.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_package","label":"Package","weight":484.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_gram","label":"Gram","weight":1.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_ounce","label":"Ounce","weight":28.349523125},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_pound","label":"Pound","weight":453.59237},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_kilogram","label":"Kilogram","weight":1000.0}]},{"food":{"foodId":"food_aquoe41bz71axrbpfodoablvd7iy","label":"6
        Inch Flour Tortilla","knownAs":"6 inch Flour Tortilla","nutrients":{"ENERC_KCAL":290.3225806451613,"PROCNT":9.677419354838708,"FAT":6.451612903225806,"CHOCDF":48.387096774193544,"FIBTG":3.225806451612903},"brand":"Taco
        Del Mar","category":"Fast foods","categoryLabel":"meal","servingSizes":[{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_gram","label":"Gram","quantity":31.0}]},"measures":[{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_serving","label":"Serving","weight":31.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_gram","label":"Gram","weight":1.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_ounce","label":"Ounce","weight":28.349523125},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_pound","label":"Pound","weight":453.59237},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_kilogram","label":"Kilogram","weight":1000.0}]},{"food":{"foodId":"food_ajbxsisautrfsxazkh32hbf2a60u","label":"8-Inch
        Flour Tortillas","knownAs":"8-INCH FLOUR TORTILLAS","nutrients":{"ENERC_KCAL":289.0,"PROCNT":6.670000076293945,"FAT":7.78000020980835,"CHOCDF":46.66999816894531,"FIBTG":2.200000047683716},"brand":"Target
        Stores","category":"Packaged foods","categoryLabel":"food","foodContentsLabel":"ORGANIC
        WHEAT FLOUR; WATER; ORGANIC PALM OIL; CONTAINS LESS THAN 2% OF BAKING POWDER
        (SODIUM ACID PYROPHOSPHATE; BAKING SODA; CORN STARCH; MONOCALCIUM PHOSPHATE);
        CITRIC ACID; ORGANIC SUGAR; ORGANIC CULTURED WHEAT STARCH; ORGANIC RYE SOUR;
        ORGANIC VITAL WHEAT GLUTEN; SALT; YEAST.","servingSizes":[{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_gram","label":"Gram","quantity":45.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_tortilla","label":"Tortilla","quantity":1.0}],"servingsPerContainer":6.0},"measures":[{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_serving","label":"Serving","weight":45.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_tortilla","label":"Tortilla","weight":45.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_package","label":"Package","weight":270.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_gram","label":"Gram","weight":1.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_ounce","label":"Oun[...]
- request:
    method: post
    uri: https://api.edamam.com/api/food-database/v2/nutrients?app_id=19297129&app_key=39891f8d61df2d5168fc473d049f28d3
    body:
      encoding: UTF-8
      string: '{"ingredients":[{"quantity":0,"measureURI":"http://www.edamam.com/ontologies/edamam.owl#Measure_unit","foodId":"food_a9ql6pdb639bs5b2nlvbob3w0mlj"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"http://www.edamam.com/ontologies/edamam.owl#52c604c7-44c0-4f1d-9b3c-5441cc99ee20","calories":0,"totalWeight":0.0,"dietLabels":[],"healthLabels":["VEGAN","VEGETARIAN","PESCATARIAN","DAIRY_FREE","EGG_FREE","MILK_FREE","PEANUT_FREE","TREE_NUT_FREE","SOY_FREE","FISH_FREE","SHELLFISH_FREE","PORK_FREE","RED_MEAT_FREE","CRUSTACEAN_FREE","CELERY_FREE","MUSTARD_FREE","SESAME_FREE","LUPINE_FREE","MOLLUSK_FREE","ALCOHOL_FREE","KOSHER"],"cautions":["SULFITES"],"totalNutrients":{},"totalDaily":{},"ingredients":[{"parsed":[{"quantity":0.0,"measure":"whole","food":"flour
        tortilla","foodId":"food_a9ql6pdb639bs5b2nlvbob3w0mlj","weight":0.0,"retainedWeight":0.0,"servingsPerContainer":9.877551020408163,"measureURI":"http://www.edamam.com/ontologies/edamam.owl#Measure_unit","status":"MISSING_QUANTITY"}]}]}'
  recorded_at: Fri, 15 Dec 2023 17:29:31 GMT
recorded_with: VCR 6.2.0
