---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/food-database/v2/parser?app_id=19297129&app_key=39891f8d61df2d5168fc473d049f28d3&ingr=duck%20legs&nutrition-type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"text":"duck legs","parsed":[{"food":{"foodId":"food_acoijgfbzqxhtcbf6e983bhnm2pr","label":"Duck","knownAs":"duck","nutrients":{"ENERC_KCAL":404.0,"PROCNT":11.5,"FAT":39.3,"CHOCDF":0.0,"FIBTG":0.0},"category":"Generic
        foods","categoryLabel":"food","image":"https://www.edamam.com/food-img/3bf/3bf2cf55ab27b77bfc429d31edf14860.jpg"},"quantity":1.0,"measure":{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_leg","label":"Leg","weight":226.0}}],"hints":[{"food":{"foodId":"food_acoijgfbzqxhtcbf6e983bhnm2pr","label":"Duck","knownAs":"duck","nutrients":{"ENERC_KCAL":404.0,"PROCNT":11.5,"FAT":39.3,"CHOCDF":0.0,"FIBTG":0.0},"category":"Generic
        foods","categoryLabel":"food","image":"https://www.edamam.com/food-img/3bf/3bf2cf55ab27b77bfc429d31edf14860.jpg"},"measures":[{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_unit","label":"Whole","weight":1268.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_duck","label":"Duck","weight":1268.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_leg","label":"Leg","weight":226.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_breast","label":"Breast","weight":166.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_wing","label":"Wing","weight":85.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_gram","label":"Gram","weight":1.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_ounce","label":"Ounce","weight":28.349523125},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_pound","label":"Pound","weight":453.59237},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_kilogram","label":"Kilogram","weight":1000.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_cup","label":"Cup","weight":140.0}]},{"food":{"foodId":"food_bmgcixqb2nl540b8bqslfabj94me","label":"Duck
        Leg Confit","knownAs":"DUCK LEG CONFIT","nutrients":{"ENERC_KCAL":464.0,"PROCNT":14.289999961853027,"FAT":46.43000030517578,"CHOCDF":0.0,"FIBTG":0.0},"brand":"Pates
        & Quiches, Inc.","category":"Packaged foods","categoryLabel":"food","foodContentsLabel":"DUCK
        LEG; RENDERED DUCK FAT; SEA SALT; SPICES; GARLIC.","servingSizes":[{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_ounce","label":"Ounce","quantity":1.0},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_gram","label":"Gram","quantity":28.0}]},"measures":[{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_serving","label":"Serving","weight":28.349523125},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_ounce","label":"Ounce","weight":28.349523125},{"uri":"http://www.edamam.com/ontologies/edamam.owl#Measure_gram","label[...]
- request:
    method: post
    uri: https://api.edamam.com/api/food-database/v2/nutrients?app_id=19297129&app_key=39891f8d61df2d5168fc473d049f28d3
    body:
      encoding: UTF-8
      string: '{"ingredients":[{"quantity":0,"measureURI":"http://www.edamam.com/ontologies/edamam.owl#Measure_unit","foodId":"food_acoijgfbzqxhtcbf6e983bhnm2pr"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"uri":"http://www.edamam.com/ontologies/edamam.owl#9c7bf763-2b08-432d-a77f-6754dc71e916","calories":0,"totalWeight":0.0,"dietLabels":[],"healthLabels":["LOW_SUGAR","PALEO","SPECIFIC_CARBS","DAIRY_FREE","GLUTEN_FREE","WHEAT_FREE","EGG_FREE","MILK_FREE","PEANUT_FREE","TREE_NUT_FREE","SOY_FREE","FISH_FREE","SHELLFISH_FREE","PORK_FREE","CRUSTACEAN_FREE","CELERY_FREE","MUSTARD_FREE","SESAME_FREE","LUPINE_FREE","MOLLUSK_FREE","ALCOHOL_FREE","NO_OIL_ADDED","NO_SUGAR_ADDED","KOSHER"],"cautions":[],"totalNutrients":{},"totalDaily":{},"ingredients":[{"parsed":[{"quantity":0.0,"measure":"whole","food":"duck","foodId":"food_acoijgfbzqxhtcbf6e983bhnm2pr","weight":0.0,"retainedWeight":0.0,"measureURI":"http://www.edamam.com/ontologies/edamam.owl#Measure_unit","status":"MISSING_QUANTITY"}]}]}'
  recorded_at: Fri, 15 Dec 2023 17:29:43 GMT
[...]
- request:
    method: get
    uri: https://api.edamam.com/api/food-database/v2/parser?app_id=19297129&app_key=39891f8d61df2d5168fc473d049f28d3&ingr=cumin&nutrition-type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"text":"cumin","parsed":[{"food":{"foodId":"food_a8jjbx4biqndasapojdb5by3e[...]
[...]
- request:
    method: get
    uri: https://api.edamam.com/api/food-database/v2/parser?app_id=19297129&app_key=39891f8d61df2d5168fc473d049f28d3&ingr=chicken%20legs&nutrition-type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"text":"chicken legs","parsed":[{"food":{"foodId":"food_ane1uw5am[...]
[...]
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v1/1/search.php?s=c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52977","strMeal":"Corba","strDrinkAlternate":null,"strCategory":"Side","strArea":"Turkish","strInstructions":"Pick
        through your lentils for any foreign debris, rinse them 2 or 3 times, drain,
        and set aside.  Fair warning, this will probably turn your lentils into a
        solid block that you\u2019ll have to break up later\r\nIn a large pot over
        medium-high heat, saut\u00e9 the olive oil and the onion with a pinch of salt
        for about 3 minutes, then add the carrots and cook for another 3 minutes.\r\nAdd
        the tomato paste and stir it around for around 1 minute. Now [...]
[...]
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v1/1/search.php?s=ch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52906","strMeal":"Flamiche","strDrinkAlternate":null,"strCategory":"Vegetarian","strArea":"French","strInstructions":"For
        the pastry, sift the flo[...]
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v1/1/search.php?s=duck
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"idMeal":"52907","strMeal":"Duck Confit","strDrinkAlternate":null,"strCategory":"Miscellaneous","strArea":"French","strInstructions":"The
        day before you w[...]
[...]
