<table class='ingredient-table'>
  <tr>
    <th>&nbsp;</th>
    <th>Ingredient</th>
    <th>include</th>
    <th>exclude</th>
  </tr>
  <% Ingredient.where(site_klass: session[:site_klass]).order('name asc').each do |ingr| %>
    <tr>
      <td class='ingredient-image-td'><%= image_tag(ingr.edamam_img, class: 'ingredient-image') if ingr.edamam_img %></td>
      <td><%= ingr.name %></td>
      <td class='ingredient-included-td'>
        <%= check_box_tag 'included[]',
                          ingr.id,
                          Array(params[:included]).include?(ingr.id.to_s) %>
      </td>
      <td class='ingredient-excluded-td'>
        <%= check_box_tag 'excluded[]',
                          ingr.id,
                          Array(params[:excluded]).include?(ingr.id.to_s) %>
      </td>
    </tr>
  <% end %>
</table>
