<style>
  .form-select-table-td {
    padding: 20px;
  }
  .ingredient-image {
    height: 30px;
    width: 30px;
  }
  .xingredient-table {
    border: solid black 2px;
    margin: 20px;
    padding: 10px;
  }
</style>

<h1>Nomisito: Recipe Search</h1>

<%= render partial: 'form' %>

<hr?

<%= render partial: 'recipes', locals: { recipes: @recipes } %>

